.button-soon,
.button-gradient,
.button {
  display: inline-flex;
  position: relative;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 100px;
  overflow: hidden;
  outline: none;
  user-select: none;
}

.button-soon {
  display: flex;
  width: myclamp(178px, 385px, 1440px, 1440px);
  height: myclamp(38px, 100px, 1440px, 1440px);
  border: myclamp(2px, 5px, 1440px, 1440px) solid var(--white);
  color: var(--brown);
  font-size: myclamp(13px, 28px, 1440px, 1440px);
  line-height: 1;
  font-family: var(--title);
  font-weight: 500;
  text-transform: uppercase;
  background: linear-gradient(#efc031, #f4e288, #f1c43f);
}

.button-gradient {
  height: 75px;
  border: 5px solid var(--white);
  padding: 10px 30px;
  background: var(--gradient);
  span {
    display: block;
    position: relative;
    z-index: 2;
    font-family: var(--title);
    color: var(--brown);
    font-size: 23px;
    line-height: 1;
    text-transform: uppercase;
    pointer-events: none;
  }

  &:disabled {
    border: 5px solid #9e9e9e;
    background: #dcdcdc;
    span {
      color: #9e9e9e;
    }
  }

  &.small {
    height: 44px;
    border: 2px solid var(--white);
    padding: 5px 20px;
    span {
      font-size: 14px;
    }
    &:disabled {
      border: 2px solid #9e9e9e;
    }
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    background: var(--gradient-invers);
    opacity: 0;
    transition: opacity 0.3s;
  }

  @media (hover: hover) {
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}

.button {
  width: auto;
  height: auto;
  min-height: 75px;
  border: 5px solid var(--brown);
  padding: 20px 50px;
  background: var(--yellow);
  flex-shrink: 0;
  span {
    display: block;
    position: relative;
    z-index: 2;
    font-family: var(--title);
    color: var(--brown);
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
    pointer-events: none;
  }

  &.full {
    width: 100%;
  }

  &.small {
    height: 44px;
    border: 2px solid var(--brown);
    padding: 5px 20px;
    span {
      font-size: 14px;
    }
  }

  &.button--green {
    border: 5px solid var(--white);
    background: var(--white);
    padding: 20px 20px;
    span {
      font-family: var(--font);
      font-weight: 900;
      font-size: 20px;
      color: var(--green);
      text-transform: none;
    }
  }

  &:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    background: var(--gradient);
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:disabled {
    border: 5px solid #9e9e9e;
    background: #dcdcdc;
    span {
      color: #9e9e9e;
    }
  }

  @media (hover: hover) {
    &:hover {
      &:before {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1023px) {
  .button {
    min-height: 44px;
    border: 2px solid var(--brown);
    padding: 14px 20px;
    span {
      font-size: 14px;
    }
    &.small {
      height: 30px;
      span {
        font-size: 10px;
      }
    }
    &:disabled {
      border: 2px solid #9e9e9e;
    }
  }

  .button-gradient {
    height: 44px;
    border: 2px solid var(--white);
    padding: 5px 20px;
    span {
      font-size: 14px;
    }
    &:disabled {
      border: 2px solid #9e9e9e;
    }
  }
}
