.drop-zones {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 44px;
  @media (max-width: 767px) {
    flex-direction: column;
    gap: 20px;
  }
}

.dropzone {
  display: flex;
  position: relative;
  width: calc(50% - 22px);
  height: 320px;
  flex-shrink: 0;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #f0f0f0;
  border-radius: 20px;
  border: none !important;

  @media (max-width: 767px) {
    width: 100%;
    height: 200px;
    padding: 20px 34px;
  }

  .dz-button {
    font-family: var(--font) !important;
    font-size: 30px !important;
    font-weight: 600 !important;
    line-height: 1.1 !important;
    @media (max-width: 767px) {
      font-size: 16px !important;
    }
  }

  .dz-preview {
    margin: 0;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) !important;
    border: none !important;
    box-shadow: none !important;
    &.dz-error {
      .dz-image {
        display: none;
      }
      &:before {
        content: 'Файл не является изображением или размер превышает 10 Мб';
        color: var(--invalid);
        font-family: var(--font);
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
        padding: 20px;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        font-size: 20px;
        font-weight: 600;
        @media (max-width: 767px) {
          font-size: 16px;
        }
      }
    }
  }

  .dz-remove {
    position: absolute;
    right: 0px;
    top: 0px;
    font-size: 0px;
    color: rgba(0, 0, 0, 0);
    width: 50px;
    height: 50px;
    border: 2px solid var(--brown) !important;
    border-radius: 50px;
    background: #fff url('../img/svg/close.svg') no-repeat center center;
    background-size: 50%;
    transform: translate(35%, -35%) rotate(0deg);
    transition: transform 0.3s;
    z-index: 50;
    will-change: transform;
    @media (hover: hover) {
      &:hover {
        transform: translate(35%, -35%) rotate(90deg);
      }
    }
    @media (max-width: 767px) {
      width: 30px;
      height: 30px;
    }
  }

  .dz-image {
    width: 100% !important;
    height: 100% !important;
    background: #f0f0f0 !important;
    border: none !important;
    box-shadow: none !important;
    img {
      display: block !important;
      pointer-events: none !important;
      width: 100% !important;
      height: 100% !important;
      filter: none !important;
      transform: none !important;
      object-fit: cover !important;
      border: none !important;
      box-shadow: none !important;
    }
  }

  .dz-details,
  .dz-progress,
  .dz-error-message,
  .dz-success-mark,
  .dz-error-mark {
    pointer-events: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
  }
}
