@font-face {
  font-family: '5ka';
  src:
    url('../fonts/5ka-light.woff2') format('woff2'),
    url('../fonts/5ka-light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: '5ka';
  src:
    url('../fonts/5ka-regular.woff2') format('woff2'),
    url('../fonts/5ka-regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: '5ka';
  src:
    url('../fonts/5ka-semibold.woff2') format('woff2'),
    url('../fonts/5ka-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: '5ka';
  src:
    url('../fonts/5ka-black.woff2') format('woff2'),
    url('../fonts/5ka-black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'drukwidecyr';
  src:
    url('../fonts/drukwidecyr-medium.woff2') format('woff2'),
    url('../fonts/drukwidecyr-medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
