.burger {
  display: none;
}

.header {
  display: block;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 75px;
  background-color: var(--green);
  z-index: 99;
  transition:
    box-shadow 0.3s,
    background-color 0.3s;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0);

  .container {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 0px;
  }

  &.fix {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  }
}

.logo {
  position: relative;
  width: 55px;
  z-index: 2;
  img {
    width: 100%;
    pointer-events: none;
  }
}

.navigation {
  display: inline-flex;
  width: auto;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.menu {
  display: flex;
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 30px;

  li {
    display: inline-flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;

    .menu__link {
      display: block;
      cursor: pointer;
      font-size: 18px;
      font-family: var(--font);
      font-weight: 300;
      line-height: 1;
      border-radius: 50px;
      position: relative;
      background-color: rgba(0, 0, 0, 0);
      transition: color 0.3s;
      text-transform: uppercase;

      @media (hover: hover) {
        &:hover {
          color: var(--yellow);
        }
      }
    }
  }
}

/* MOBIL VERSION*/
@media (max-width: 1279px) {
  .header {
    height: 60px;
    background-color: rgba(0, 0, 0, 0);

    &.fix {
      background-color: var(--green);
      .logo {
        transform: translate(0%, 0%);
      }
    }
  }

  .logo {
    width: 40px;
    transform: translate(0%, -150%);
    transition: transform 0.6s;
  }

  .burger {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 30px;
    height: 30px;
    font-size: 0px;
    z-index: 2;
    span,
    &:before,
    &:after {
      width: 100%;
      position: absolute;
      height: 3px;
      border-radius: 1.5px;
      background: var(--white);
      transition: 0.6s;
      opacity: 1;
      z-index: 1;
    }

    &:before,
    &:after {
      content: '';
    }

    span {
      transform: translate(0px, 0px);
    }
    &:before {
      transform: translate(0px, -9px) rotate(0deg);
    }
    &:after {
      transform: translate(0px, 9px) rotate(0deg);
    }

    &.open {
      span {
        transform: translate(20px, 0px);
        opacity: 0;
      }
      &:before {
        transform: translate(0px, 0px) rotate(45deg);
      }
      &:after {
        transform: translate(0px, 0px) rotate(-45deg);
      }
    }
  }

  .navigation {
    position: fixed;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    top: 0px;
    right: 0px;
    background: radial-gradient(#409045, #0f3b10);
    transition: opacity 0.4s ease-in-out 0.3s;
    padding: 0px;
    z-index: 0;
    opacity: 0;
    pointer-events: none;

    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      display: none;
    }
    &.open {
      opacity: 1;
      pointer-events: all;
      transition: opacity 0.4s ease-in-out 0s;
      .menu {
        transform: translate(0%, 0%);
      }
    }
  }

  .menu {
    z-index: 2;
    padding: 40px 10px 40px 10px;
    transform: translate(0%, -100%);
    width: 100%;
    min-height: 100svh;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 30px;
    transition: 0.6s;
    li {
      .menu__link {
        font-size: 18px;
        text-align: center;
      }
    }
  }
}
