$popup_transition: 0.5s;

.body {
  &.locked {
    overflow-x: hidden;
    overflow-y: hidden;
  }
}

.backdrop {
  transform: translateZ(0);
  will-change: opacity;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  display: grid;
  place-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding: 50px 10px 50px 10px;
  backdrop-filter: blur(8px);
  transition:
    opacity $popup_transition ease-in-out 0s,
    visibility $popup_transition ease-in-out 0s;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  &.active {
    visibility: visible;
    opacity: 1;
    pointer-events: all;
  }
  &:before {
    content: '';
    position: absolute;
    pointer-events: none;
    left: -20px;
    right: -20px;
    top: -50px;
    width: calc(100% + 40px);
    height: calc(100% + 100px);
    background: linear-gradient(90deg, #1f5621, #398b3f, #1f5621);
    opacity: 0.8;
    grid-area: 1 / 1 / 2 / 2;
    @supports (-webkit-touch-callout: none) and (-webkit-overflow-scrolling: touch) {
      content: none;
    }
  }
  @media (min-width: 1280px) {
    padding: 40px 10px 40px 10px;
    &:before {
      top: -80px;
      height: calc(100% + 120px);
    }
  }
}

.popup {
  position: relative;
  transition: $popup_transition;
  transform: translate(0px, 50px);
  opacity: 0;
  z-index: 1;
  user-select: none;
  width: 100%;
  pointer-events: none;
  &.visible {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

.popup-close {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 20px;
  top: 20px;
  @media (max-width: 767px) {
    width: 15px;
    height: 15px;
    right: 10px;
    top: 10px;
  }

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.3s;
    transform: rotate(0deg);
    background: url('../img/svg/close.svg') no-repeat center center/cover;
  }

  &:hover {
    &:after {
      transform: rotate(90deg);
    }
  }
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  gap: 30px;
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  pointer-events: all;
  user-select: none;
  background: var(--white);
  color: var(--brown);
  border-radius: 20px;
  padding: 50px 45px 40px 45px;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.4);

  .button {
    margin: 0 auto;
  }

  @media (max-width: 1279px) {
    max-width: 600px;
  }

  @media (max-width: 767px) {
    gap: 20px;
    max-width: 320px;
    padding: 30px 20px 20px 20px;
    border-radius: 10px;

    .title.title--h2 {
      font-size: 20px;
    }

    .button {
      min-height: 44px;
      padding: 12px 20px;
      margin-top: 4px;
    }
  }
}

.popup__text {
  display: block;
  width: 100%;
  margin: 0 auto;
  font-size: 33px;
  line-height: 1.1;
  font-weight: 400;
  font-family: var(--font);
  &.small {
    font-size: 30px;
  }

  &.w900 {
    font-weight: 900;
  }

  &.w700 {
    font-weight: 700;
    font-family: var(--title);
  }

  @media (max-width: 767px) {
    font-size: 16px;
    &.small {
      font-size: 16px;
    }
  }
}
