:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  backface-visibility: hidden;
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  overflow: hidden;
  z-index: 0;
}

body {
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: none;
  -webkit-overflow-scrolling: auto;
  font-family: var(--font);
  color: var(--white);
}

img {
  display: block;
  object-fit: cover;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  color: inherit;
  font-family: var(--title);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  position: relative;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
  &:disabled {
    cursor: auto;
    pointer-events: none;
    opacity: 0.3;
  }
}

.gradient {
  background-image: linear-gradient(90deg, #fffcb6, #fade79, #f2d344);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  padding-bottom: 0.5rem;
  @media (max-width: 767px) {
    padding-bottom: 0.3rem;
  }
}

.main {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100svh;
  background: url('../img/bg.webp') no-repeat center center/cover;
}

.delete-in-mobil {
  @media (max-width: 1279px), (orientation: portrait) {
    display: none !important;
  }
}

.show-in-momil {
  display: none !important;
  @media (max-width: 1279px), (orientation: portrait) {
    display: block !important;
  }
}
