.section--products {
  margin-top: 25px;
  padding: 25px 0px;
}

.products {
  position: relative;
  margin-top: 20px;
  .swiper {
    overflow: visible;
  }
  .arrow {
    display: none;
  }
}

.product {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  text-align: center;

  p {
    font-weight: 300;
    font-size: 20px;
  }
}

.product__img {
  width: 100%;
  max-width: 233px;
}

@media (max-width: 1279px) {
  .products {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

    .swiper {
      overflow: visible;
      .swiper-slide {
        transition: opacity 0.6s;
        opacity: 0;
        &.swiper-slide-active,
        &.swiper-slide-active + .swiper-slide,
        &.swiper-slide-active + .swiper-slide + .swiper-slide {
          opacity: 1;
        }
      }
    }
    .arrow {
      display: flex;
    }
  }
}

@media (max-width: 1023px) {
  .product {
    p {
      font-size: 18px;
    }
  }
}

@media (max-width: 767px) {
  .products {
    max-width: 375px;
    .swiper {
      .swiper-slide {
        &.swiper-slide-active + .swiper-slide,
        &.swiper-slide-active + .swiper-slide + .swiper-slide {
          opacity: 0;
        }
      }
    }
  }
  .product {
    p {
      font-size: 20px;
    }
  }
  .product__img {
    max-width: 180px;
  }
}
