.section--winners {
  margin-top: 25px;
  padding: 25px 0px 130px 0px;
  @media (max-width: 767px) {
    margin-top: 0px;
    padding: 25px 0px 30px 0px;
  }
}

.form--search {
  max-width: 612px;
  margin: 30px auto;

  .input {
    height: 54px;
    border-radius: 20px;
    padding-left: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  @media (max-width: 767px) {
    margin: 10px auto 20px auto;
    .input {
      height: 32px;
      border-radius: 32px;
      padding-left: 36px;
    }
  }
}

.search-submit {
  display: flex;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 54px;
  height: 54px;
  background: url('../img/svg/search.svg') no-repeat center center;

  justify-content: center;
  align-items: center;
  align-content: center;

  @media (max-width: 767px) {
    width: 32px;
    height: 32px;
    background-size: 75% 75%;
  }
}

.table-scroll-area {
  display: block;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  -webkit-overflow-scrolling: touch;
  @media (max-width: 767px) {
    max-height: 500px;
  }
}

.table-scroll-area::-webkit-scrollbar {
  width: 6px;
}

.table-scroll-area::-webkit-scrollbar-track {
  background-color: #2a772e;
  border-radius: 999px;
}

.table-scroll-area::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 999px;
}

.table {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1084px;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-content: center;
  li {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 20px;
    padding: 15px 24px;
    background: rgba(255, 255, 255, 0.1);

    &:nth-child(2n) {
      background: rgba(0, 0, 0, 0);
    }

    span {
      font-size: 20px;
      line-height: 1.2;
      font-weight: 600;
      &.name {
        width: 170px;
      }
      &.email {
        width: 240px;
      }
      &.date {
        width: 110px;
      }
      &.present {
        width: 360px;
      }
    }
  }
}
