.section--questions {
  margin-top: 25px;
  padding: 25px 0px;

  .fieldset {
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .button {
    margin: 0 auto;
  }
}

.form--questions {
  margin-top: 30px;
  max-width: 1026px;

  .inputError {
    text-transform: uppercase;
  }

  @media (max-width: 1279px) {
    max-width: 768px;
  }

  @media (max-width: 1023px) {
    max-width: 600px;
  }

  @media (max-width: 767px) {
    margin-top: 20px;
  }
}
