.section--hero {
  background: url('../img/svg/line.svg') no-repeat center top;
  background-size: 100% 940px;
}

.hero {
  width: 100%;
  height: 940px;
  background: var(--brown);
  padding-top: 95px;

  -webkit-mask-image: url('../img/svg/mask.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 940px;
  -webkit-mask-position: center;

  mask-image: url('../img/svg/mask.svg');
  mask-repeat: no-repeat;
  mask-size: 100% 940px;
  mask-position: center;
}

.hero-form {
  padding-top: 50px;
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    .title {
      max-width: 1050px;
    }
  }
}

.shokolad-front {
  width: 325px;
  position: absolute;
  left: 0px;
  bottom: calc(100% + 70px);
  pointer-events: none;
}

.shokolad-back {
  width: 400px;
  position: absolute;
  top: calc(100% - 250px);
  box-shadow: 20px -20px 50px rgba(0, 0, 0, 0.5);
  z-index: 1;
  pointer-events: none;
}

.hero-white-title {
  display: block;
  position: relative;
  width: 100%;
  text-align: center;
  font-family: var(--font);
  font-weight: 900;
  font-size: 49px;
  line-height: 1.1;
  z-index: 2;
}

.hero-content {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 930px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 30px;
  margin-left: auto;

  .button {
    margin-top: 156px;
    z-index: 2;
    box-shadow: 0px 10px 80px -10px #000000;
  }
}
