.section--lk {
  padding-top: 120px;
  padding-bottom: 25px;
  @media (max-width: 1279px) {
    padding-top: 50px;
  }
}

.section--codes {
  padding: 25px 0px;
  .table-scroll-area {
    margin-top: 30px;
    @media (max-width: 767px) {
      margin-top: 20px;
    }
  }
}

.section--presents {
  padding: 25px 0px 120px 0px;
  @media (max-width: 767px) {
    padding: 25px 0px 30px 0px;
  }
}

.empty {
  display: flex;
  position: relative;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 20px;
  margin-top: 30px;
  p,
  b {
    font-size: 30px;
    line-height: 1;
    text-align: center;
    @media (max-width: 1279px) {
      max-width: 300px;
      br {
        display: none;
      }
    }
  }

  b {
    text-transform: uppercase;
    font-weight: 900;
    @media (max-width: 1279px) {
      font-size: 20px;
    }
  }

  p {
    font-weight: 400;
    @media (max-width: 1279px) {
      font-size: 16px;
    }
  }
}

.lk {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  gap: 20px;
  border: 2px solid var(--yellow);
  border-radius: 30px;
  padding: 40px;
  margin-top: 50px;

  p {
    display: flex;
    position: relative;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    gap: 10px;

    span {
      font-size: 30px;
      font-weight: 600;
      background-image: linear-gradient(90deg, #fffcb6, #fade79, #f2d344);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
      padding-bottom: 0.5rem;
      margin-bottom: -0.5rem;
      &:first-child {
        text-transform: uppercase;
      }
    }
  }
}

.my-prizes {
  display: block;
  width: 100%;
  margin-top: 30px;
  position: relative;
  .swiper {
    overflow: visible;

    .swiper-slide {
      display: flex;
      min-height: 344px;
      position: relative;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      gap: 30px;

      transition: opacity 0.5s;
      opacity: 0;
      pointer-events: none;
      &.swiper-slide-active,
      &.swiper-slide-active + .swiper-slide,
      &.swiper-slide-active + .swiper-slide + .swiper-slide {
        pointer-events: all;
      }
      &.swiper-slide-active {
        opacity: 1;
      }
      &.swiper-slide-active + .swiper-slide {
        opacity: 1;
        @media (max-width: 767px) {
          opacity: 0;
        }
      }
      &.swiper-slide-active + .swiper-slide + .swiper-slide {
        opacity: 1;
        @media (max-width: 1279px) {
          opacity: 0;
        }
      }
    }
  }
  .arrow {
    top: 120px;

    &.swiper-button-disabled {
      opacity: 0;
      pointer-events: none;
    }
  }

  .prize {
    gap: 20px;
    .prize__text {
      font-size: 24px;
    }
  }

  .button {
    width: 100%;
    max-width: 300px;
  }
}

@media (max-width: 1279px) {
  .lk {
    justify-content: space-between;
    padding: 30px;
    margin-top: 30px;

    p {
      width: 40%;

      span {
        font-size: 24px;
      }
    }
  }
  .my-prizes {
    max-width: 768px;
    margin-left: auto;
    margin-right: auto;
    .arrow {
      top: 80px;
    }
  }
}

@media (max-width: 1023px) {
  .lk {
    p {
      width: 50%;
      span {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: 767px) {
  .lk {
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    margin-top: 20px;
    border-radius: 15px;

    p {
      width: 100%;

      span {
        font-size: 16px;
      }
    }

    .button-gradient {
      padding-left: 0px;
      padding-right: 0px;
      width: 100%;
      span {
        font-size: 13px;
      }
    }
  }

  .my-prizes {
    margin-top: 20px;
    .swiper {
      .swiper-slide {
        min-height: 328px;
      }
    }
    .prize {
      .prize__text {
        font-size: 20px;
      }
    }
  }
}
