.header--soon {
  height: myclamp(80px, 158px, 1440px, 1440px);
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  z-index: 3;
  left: 0px;
  top: 0px;
  padding-top: myclamp(10px, 30px, 1440px, 1440px);
  padding-right: myclamp(30px, 40px, 1440px, 1440px);
  padding-left: myclamp(15px, 40px, 1440px, 1440px);

  h1 {
    display: block;
    text-align: center;
    width: 260px;
    font-size: 20px;
    line-height: 0.9;
    margin-right: auto;
  }

  .logo-soon {
    display: flex;
    position: relative;
    width: myclamp(55px, 92px, 1440px, 1440px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-shrink: 0;

    img {
      width: 100%;
    }

    p {
      position: absolute;
      top: calc(100% + myclamp(4px, 15px, 1440px, 1440px));
      white-space: nowrap;
      font-size: myclamp(9px, 12px, 1440px, 1440px);
      font-weight: 300;
      opacity: 0.5;
    }
  }

  @media (max-width: 1279px) {
    height: 80px;
    padding-top: 10px;
    padding-right: 30px;
    padding-left: 15px;
  }
}

.main-soon {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  align-content: center;
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100svh;
  background: url('../img/bg.webp') no-repeat center center/cover;
}
