:root {
  --font: '5ka', sans-serif;
  --title: 'drukwidecyr', sans-serif;
  --prise: 'din-condensed', sans-serif;

  --white: #ffffff;
  --black: #000000;
  --brown: #5c2e15;
  --yellow: #e9cc29;
  --green: #409045;
  --invalid: #ff0100;

  --gradient: linear-gradient(90deg, #fffcb6, #fade79, #f2d344);
  --gradient-invers: linear-gradient(90deg, #f2d344, #fade79, #fffcb6);
}

@import 'mixins';
@import 'reset';
@import 'fonts';
@import 'tiography';
@import 'buttons';
@import 'header';
@import 'swiper';
@import 'footer';
@import 'section__hero';
@import 'section__prizes';
@import 'soon';
